button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
}

footer{
    background-color: rgb(46, 0, 68);
    height: 60%;
}

body{
    color: rgb(255, 255, 255);
    background:linear-gradient(45deg, #3b0630, #07081d);
    background-attachment:fixed;
    margin: 0%;
    width: 100%;
    font-family: sans-serif;
    font-size: 100%;
}

hr{
    color: #FEC260;
    width: 80%;
    height: 0,5%;
}

.block{
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    display: block;

}

.block_f{
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color: #00000054;
    width: 98%;
    padding-left: 2%;
}

.txt{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    vertical-align: top;
}

.img{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    vertical-align: 0%;
}

img{
    border-radius: 5%;
}

h1, h2, h3, h4{
    color: #FEC260;
}

li{
    color: #FEC260;
}

span{
    color: #fff;
}