button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

footer{
    background-color: rgb(46, 7, 65);
}

body{
    color: rgb(255, 255, 255);
    background:linear-gradient(45deg, #3b0630, #07081d);
    background-attachment:scroll;
    background-repeat:round;
    margin: 0px ;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.block{
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    display: block;

}

.txt{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    vertical-align: top;
}

.img{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    vertical-align: 0%;
}

.sprGal{
    height: 30%;
}